<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.class == "cv" %}Resume - {{ site.title | escape }}{% else %}{{ page.title | escape }} - {{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="DCTERMS.Title" content="{{ page.title}} - {{ site.title }}" />
	<meta name="DCTERMS.Creator" content="{{ site.title }}" />
	{% if page.date and page.modified %}
	<meta name="DC.Date" content="{{ page.date }}" />
	<meta name="DCTERMS.Created" content="{{ page.date }}" />
	<meta name="DCTERMS.Modified" content="{{ page.modified }}" />
	{% elsif page.date %}
	<meta name="DC.Date" content="{{ page.date }}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	{% endif %}
</head>